.header__heading-img {
    min-height: 650px;
    position: relative;
}

@media(max-width: 1022px) {
    .main__article-description {
        overflow: hidden;
        margin-left: 10px;
        margin-right: 10px;
    }
}

@media(max-width: 900px) {
    .header__heading-text {
        font-size: 16px; 
    }
}

@media(max-width: 800px) {
    .header__nav {
        flex-wrap: wrap;
    }
    .header__menu {
        display: flex;
        flex-wrap: wrap;
    }
}

@media(max-width: 555px) {
    .footer__top-contact {
        display: flex;
        justify-content: space-between;
        margin-left: 8px;
        margin-right: 8px;
    }
    .footer__top-contact {
        display: flex;
        flex-wrap: wrap;
    }
}

@media(max-width: 600px) {
    .header__heading-btn {
        display: flex;
        align-items: center;
        width: 90px;
        height: 40px;
        font-size: 25px;
        padding: 16px 0;
        margin-left: 20px;
    }
    .header__heading-watch {
        display: flex;
        align-items: center;
        justify-content: ceneter;
        width: 120px;
        height: 30px;
        font-size: 16px;
        padding: 10px 20px;
        margin-top: 10px;
    }
    .header__heading-description {
        font-size: 28px;
        display: flex;
        justify-content: center;
        margin-bottom: 9px;
    }
    .header__heading-buttons {
        flex-direction: column;
    }
    .header__heading-box {
        margin-top: -90px;
    }
}
